<% if (notice) { %>
  <p><%= notice %></p>
<% } %>

<p>
  Hello… <a href="<%= nameUrl('your-name-here') %>">your-name-here</a>.
</p>

<p>
  You can also fill this form if you feel like doing so...
  <form action="/hello" enctype="multipart/form-data" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="file" name="uploads" multiple="multiple"><br>
    <input type="submit" value="Subir">
  </form>
</p>
